.nav {
    grid-area: n;
    background-color: aquamarine;

}

.nav ul {
    list-style: none;
}

.stuff {
    margin-top: 20px;
}

.item a {
    text-decoration: none;
    color: whitesmoke;
}

.item a.activeLink {
    color: gold;
}

.active {
    color: gold;
}

