.NewsWrap {
    width: 800px;
    padding: 50px;
    margin: 0 auto;
    box-sizing: border-box;

}

.container {
    background-color: whitesmoke;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
}

.NewsWrap img {
    max-width: 650px;
}

.containerBtn {
    padding: 10px;
}